DATABASE_URL="postgresql://neondb_owner:npg_rSi56vpnNlVk@ep-soft-flower-b242o715-pooler.c-6.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXTAUTH_SECRET="generate-me"
NEXTAUTH_URL="http://localhost:3000"
ADMIN_LOGIN="admin"
